* {
    background-color: #1b2125;
    font-family: 'Quicksand', sans-serif;
}

/* Title */

h1 {
    color: white;
    padding-left: 15px;
}

h1 span {
    color:rgb(146, 146, 255);
}

/* Search bar */

.search-bar {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#searchValue {
    background-color: white;
    border: 3px solid rgb(146, 146, 255);
    color: rgb(112, 112, 112);
    padding: 10px;
    width: 400px;
    height: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 20px;
}

#searchValue:focus {
    outline: 0;
}

#searchButton {
    background-color: rgb(146, 146, 255);
    border: 3px solid rgb(146, 146, 255);
    color: white;
    border-left: none;
    width: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    transition: .4s;
}

#searchButton:hover {
    color: #1b2125;
    transition: .4s;
    cursor: pointer;
}

/* Radio buttons */

.radio-buttons {
    background-color: rgb(146, 146, 255);
    border: 3px solid rgb(146, 146, 255);
    display: flex;
    margin-right: 10px;
    border-radius: 15px;
}

.singer-button-off {
    border: none;
    color: rgb(112, 112, 112);
    font-size: 20px;
    background-color: white;
    padding-right: 10px;
    width: 90px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.singer-button-off:hover {
    cursor: pointer;
}

.song-button-off {
    border: none;
    color: rgb(112, 112, 112);
    font-size: 20px;
    background-color: white;
    padding-right: 10px;
    width: 90px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.song-button-off:hover {
    cursor: pointer;
}

.singer-button-on {
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(146, 146, 255);
    padding-right: 10px;
    width: 90px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.song-button-on {
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(146, 146, 255);
    padding-right: 10px;
    width: 90px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Info Display */

#singer-info {
    display: none;
    color: white;
}

#song-info {
    display: none;
    color: white;
}


